<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>turmsentry</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>it.iltofa.turms.entry.icns</string>
			<key>CFBundleTypeName</key>
			<string>Turms Entry</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>it.iltofa.turms.entry</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>turmsarchive</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>it.iltofa.turms.archive</string>
			<key>CFBundleTypeName</key>
			<string>Turms Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>it.iltofa.turms.archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>it.iltofa.Turms</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Janus Notes 2 Bookmarklet Handler</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-turms</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>574</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Giacomo Tufano. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Janus Notes 2 Entry</string>
			<key>UTTypeIconFile</key>
			<string>it.iltofa.turms.entry.icns</string>
			<key>UTTypeIdentifier</key>
			<string>it.iltofa.turms.entry</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.janusnotes.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>XXXX</string>
				<key>public.filename-extension</key>
				<array>
					<string>turmsentry</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Janus Notes 2 Archive</string>
			<key>UTTypeIconFile</key>
			<string>it.iltofa.turms.archive</string>
			<key>UTTypeIdentifier</key>
			<string>it.iltofa.turms.archive</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.janusnotes.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>turmsarchive</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
